.home {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    background: url('https://airdrop.kaanch.com/Images/airdrop-bg-new3.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.svgRefferal {
    filter: blur(80px);
    z-index: -10;
    position: absolute;
    opacity: 50%;
    animation: anim 5s linear infinite;
}
@keyframes anim{
    0%{
            transform: translateY(0);
    }
    25%{
        transform: translateY(-100px);
    }
    40%{
        transform:translateY(-25px);
    }
    60%{
        transform: translateY(25px);
    }
    75%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}

.card-glow {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: 16px;
}

.card-glow::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(120deg, #ffffff 0%, #00c8ff 40%, #0094ff 70%);
  -webkit-mask: 
     linear-gradient(#000 0 0) content-box,
     linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  animation: glowmove 4s linear infinite;
}

@keyframes glowmove {
  0% { filter: blur(5px) opacity(0.4); }
  50% { filter: blur(7px) opacity(0.7); }
  100% { filter: blur(5px) opacity(0.4); }
}