.home {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    background: url('https://airdrop.kaanch.com/Images/airdrop-bg-new3.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}
.ball {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  backface-visibility: hidden;
  animation: move linear infinite;
}
@keyframes move{
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
/* Using a custom attribute for variability */
.ball:nth-child(1) {
  top: 77%;
  left: 88%;
  animation-duration: 40s;
  animation-delay: -3s;
  transform-origin: 16vw -2vh;
}
.ball:nth-child(2) {
  top: 42%;
  left: 2%;
  animation-duration: 53s;
  animation-delay: -29s;
  transform-origin: -19vw 21vh;
}
.ball:nth-child(3) {
  top: 28%;
  left: 18%;
  animation-duration: 49s;
  animation-delay: -8s;
  transform-origin: -22vw 3vh;
}
.ball:nth-child(4) {
  top: 50%;
  left: 79%;
  animation-duration: 26s;
  animation-delay: -21s;
  transform-origin: -17vw -6vh;
}
.ball:nth-child(5) {
  top: 46%;
  left: 15%;
  animation-duration: 36s;
  animation-delay: -40s;
  transform-origin: 4vw 0vh;
}
.ball:nth-child(6) {
  top: 77%;
  left: 16%;
  animation-duration: 31s;
  animation-delay: -10s;
  transform-origin: 18vw 4vh;
}
.ball:nth-child(7) {
  top: 22%;
  left: 17%;
  animation-duration: 55s;
  animation-delay: -6s;
  transform-origin: 1vw -23vh;
}
.ball:nth-child(8) {
  top: 41%;
  left: 47%;
  animation-duration: 43s;
  animation-delay: -28s;
  transform-origin: 25vw -3vh;
}

.svgRefferal {
    filter: blur(80px);
    z-index: -10;
    position: absolute;
    opacity: 50%;
    animation: anim 5s linear infinite;
}
@keyframes anim{
    0%{
            transform: translateY(0);
    }
    25%{
        transform: translateY(-100px);
    }
    40%{
        transform:translateY(-25px);
    }
    60%{
        transform: translateY(25px);
    }
    75%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}

.card-glow {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: 16px;
}

.card-glow::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(120deg, #ffffff 0%, #00c8ff 40%, #0094ff 70%);
  -webkit-mask: 
     linear-gradient(#000 0 0) content-box,
     linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  animation: glowmove 4s linear infinite;
}

@keyframes glowmove {
  0% { filter: blur(5px) opacity(0.4); }
  50% { filter: blur(7px) opacity(0.7); }
  100% { filter: blur(5px) opacity(0.4); }
}